
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter,sans-serif;
    height: 100vh;
    background-color: #282D35;

}

nav {
    display: flex;
    align-items: center;
    background-color: #11222A;
    padding: 30px 25px;
    height: 90px;
}

.nav-h3,.nav-h4 {
    margin: 0;
}
.nav-h3 {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-style: 22px;
}
.nav-h4 {
    color:#DEEBF8;
    font-weight: 600;
}

.nav-img {
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: white;
    background-image: url(./Component/logo192.png);
    background-repeat: no-repeat;
    background-position: right center;

}
.main-h1 {
    margin: 0;
    font-size: 39px;
   letter-spacing: -0.05em;
}
.main-ul {
    margin-top: 46px;
    max-width: 400px;

}
.main-ul > li {
    
    padding-block: 10px;


}
.main-ul > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;

}